.box{
    padding-block: 25px !important;
}
.box svg{
    font-size: 25px;
    color: rgb(201, 196, 169);
}
/*  */
form{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}
form .input-row{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}
@media(max-width: 767px){
    form .input-row{
        flex-direction: column;
    }
}
form label{
    margin-top: 10px;
    display: block;
}
form .input-row div{
    width: 100%;
}
form .input-controler{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}
form textarea{
    width: 100%;
    height: 250px;
    padding: 10px;
    resize: none;
    border: none;
    border-radius: 5px;
    outline: none;
}
form .form-btn{
    background-color: white;
    margin-top: 5px;
    padding: 10px 20px;
    font-weight: bold; 
    font-size: 20px;
    display: block;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .5s;
}
form .form-btn:hover{
    background-color: rgb(211, 203, 173);
    color: white;
}
/*  */