body {
  background-color: rgb(241, 239, 237);
  font-family: "Noto Kufi Arabic", sans-serif;
}
ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
a {
  text-decoration: none;
}
:root {
  --navbar-bg-color: hsl(0, 0%, 15%);
  --navbar-text-color: hsl(0, 0%, 85%);
  --navbar-text-color-focus: white;
  --navbar-bg-contrast: hsl(0, 0%, 25%);
  --main-color: rgb(242, 240, 219);
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.block {
  display: block !important;
}
.hide {
  display: none !important;
}
.landing-sections {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  display: block;
}
.main-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  background-image: url("../vecteezy_abstract-gradient-golden-background-brush-stroke-place-for_34056372.png");
  background-size: cover;
}
.more {
  padding: 5px 20px;
  background-color: white;
  color: rgb(201, 196, 169);
  border-radius: 10px;
}
/* ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: rgb(201, 196, 169);
  transform: skew(0deg, 6deg);
  z-index: -5;
} */

/* ::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: rgb(201, 196, 169);
  transform: skew(0deg, -6deg);
  z-index: -5;
} */
.main-title h2 {
  font-size: 30px;
  position: relative;
  text-align: center;
  padding: 12px;
  z-index: 0;
}
@media (max-width: 767px) {
  .main-title h2 {
    font-size: 16px;
  }
}
/*  --------------
    page container
    -------------- */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*  -------------------
    Start Header-Navbar 
    ------------------- */

#navbar {
  --navbar-height: 64px;
  height: var(--navbar-height);
  background-color: white;
  left: 0;
  right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  position: sticky;
  top: 0;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.home-link,
.navbar-link {
  color: var(--navbar-bg-color);
  text-decoration: none;
  display: flex;
  font-weight: 400;
  align-items: center;
}

.home-link:is(:focus, :hover) {
  color: var(--navbar-bg-color);
}

.navbar-link {
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  transition-duration: 0.5s;
}

.navbar-link:is(:focus, :hover),
.navbar-link.active {
  background-color: var(--main-color);
}
.navbar-logo {
  background-color: var(--navbar-bg-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}
#navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon-bar {
  display: block;
  width: 15px;
  height: 2px;
  margin: 2px;
  background-color: var(--navbar-bg-color);
}

#navbar-toggle[aria-expanded="true"] .icon-bar:is(:first-child, :last-child) {
  position: absolute;
  margin: 0;
  width: 30px;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:first-child {
  transform: rotate(45deg);
}
#navbar-toggle[aria-expanded="true"] .icon-bar:nth-child(2) {
  opacity: 0;
}
#navbar-toggle[aria-expanded="true"] .icon-bar:last-child {
  transform: rotate(-45deg);
}
#navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu {
  background-color: rgba(255, 255, 255);
  opacity: 1;
  visibility: visible;
}
.navbar-links {
  list-style: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
}
.navbar-links > a {
  margin-right: 30px;
  margin-block: 15px;
  color: var(--navbar-bg-color);
  padding: 8px;
  background-color: var(--main-color);
  border-radius: 3px;
}
@media (max-width: 767px) {
  .navbar-links > a {
    margin-right: 0;
  }
}
#navbar-toggle[aria-expanded="true"] + #navbar-menu .navbar-links {
  padding: 1em;
}
@media screen and (min-width: 700px) {
  #navbar-toggle,
  #navbar-toggle[aria-expanded="true"] {
    display: none;
  }

  #navbar-menu,
  #navbar-toggle[aria-expanded="true"] #navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }

  .navbar-links,
  #navbar-toggle[aria-expanded="true"] #navbar-menu .navbar-links {
    margin: 0;
    padding: 0;
    box-shadow: none;
    position: static;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
}

/*  -----------------
    End Header-Navbar 
    ----------------- */
/*  -----------------
    Start Hero 
    ----------------- */
.hero-section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.hero-section .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
@media (max-width: 767px) {
  .hero-section .content {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .hero-section .hero-text {
    margin-bottom: 15px;
  }
}
.hero-section .hero-text h1 {
  font-size: 75px;
}
@media (max-width: 767px) {
  .hero-section .hero-text h1 {
    font-size: 35px;
  }
}
.hero-section .hero-text span {
  font-size: 25px;
  word-spacing: 1.5;
}
@media (max-width: 767px) {
  .hero-section .hero-text span {
    font-size: 14px;
  }
}
.hero-section .hero-image {
  width: 500px;
}
@media (max-width: 767px) {
  .hero-section .hero-image {
    width: 200px;
  }
}
.hero-section .hero-image img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .hero-links {
    overflow-x: scroll;
  }
}
.hero-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 3px;
}
.hero-links ul li a {
  color: var(--navbar-bg-color);
  padding-block: 10px;
  padding-inline: 25px;
  display: block;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.652);
  transition-duration: 0.5s;
}
@media (max-width: 767px) {
  .hero-links ul li a {
    font-size: 12px;
    padding-block: 5px;
    padding-inline: 5px;
  }
}
.hero-links ul li a:hover {
  color: rgb(201, 196, 169);
}
/*  -----------------
    End Hero
    ----------------- */
/*  -----------------
    Start Boxs For All Sections
    ----------------- */
.boxs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.boxs .box {
  padding: 10px;
  background-color: white;
  color: rgb(39, 33, 3);
  border-radius: 5px;
  text-align: center;
}
.boxs .box .box-icon {
  padding: 15px;
  background-color: rgb(241, 239, 237);
  border-radius: 5px;
}
.boxs .box .box-icon svg {
  color: rgb(201, 196, 169);
}
.boxs .box .box-img {
  width: 100%;
  height: 200px;
}
.boxs .box .box-img img {
  width: 100%;
  height: 100%;
}
.boxs .box .info {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 10px;
  color: rgb(39, 33, 3);
}
.boxs .box .info svg {
  color: rgb(201, 196, 169);
}
.boxs .box .info svg.fa-thumbs-up {
  cursor: pointer;
}
.boxs .box .description {
  text-align: start;
  margin-top: 5px;
}
.boxs .box a.box-link {
  padding-inline: 15px;
  padding-block: 5px;
  color: white;
  background-color: rgb(201, 196, 169);
  margin-top: 15px;
  display: block;
  width: 100%;
  border-radius: 5px;
}
/*  --------------------------
    End Boxs For All Sections
    ------------------------- */
/*  ------------
    Start Footer
    ------------ */
footer {
  background-color: rgb(201, 196, 169);
  color: white;
}
footer .top {
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  footer .top {
    flex-direction: column;
    gap: 10px;
  }
  footer .top h3 {
    font-size: 14px;
  }
  footer .top p {
    font-size: 12px;
  }
}
footer .top .text svg {
  margin-left: 5px;
}
footer .social {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
footer .social .fa-tiktok {
  color: rgb(22, 25, 32);
}
footer .social .fa-instagram {
  color: rgb(159, 39, 234);
}
footer .social .fa-facebook {
  color: rgb(26, 82, 236);
}
footer .social a svg {
  font-size: 20px;
}
footer .footer-links li a {
  color: white;
  font-size: 15px;
  transition-duration: 0.3s;
}
@media (max-width: 767px) {
  footer .footer-links li a {
    font-size: 12px;
  }
  footer .social a svg {
    font-size: 18px;
  }
}
footer .footer-links li a:hover {
  text-decoration: underline;
}
footer .bottom {
  background-color: rgb(39, 33, 3);
  color: white;
  padding: 10px;
  text-align: center;
}
@media (max-width: 767px) {
  footer .bottom {
    font-size: 13px;
  }
}
/*  ------------
    End Footer
    ------------ */
.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ----------------
---------------- */
.main-header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-header p {
  color: rgb(201, 196, 169);
  font-size: 15px;
}
.main-header h2 {
  font-size: 35px;
  position: relative;
  width: fit-content;
}
.main-header h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: rgb(201, 196, 169);
}
/*  -----------------
    Start details info
    ----------------- */
.details {
  padding-top: 50px;
  padding-bottom: 50px;
}
.details .image{
  max-width: 100%;
}
.details .image img{
  max-width: 100%;
}
.details .info {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-block: 15px;
  color: rgb(39, 33, 3);
}
.details .info svg {
  color: rgb(201, 196, 169);
}
.details .info svg.fa-thumbs-up {
  cursor: pointer;
}
/*  -----------------
    End details info
    ----------------- */
    /*  -------------------------
    Start Swiper
    ----------------------- */
    .swiper{
      padding-inline: 40px !important;
    }
.swiper-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.swiper-slide a {
  color: rgb(39, 33, 3);
  background-color: rgba(255, 255, 255, 0.652);
  padding-block: 10px;
  padding-inline: 20px;
  display: block;
  border-radius: 50px;
  transition-duration: 0.5s;
  cursor: pointer;
}
@media (max-width: 767px) {
  .swiper-slide a {
    font-size: 12px;
    padding-block: 5px;
  }
}
.swiper-slide a:hover {
  color: rgb(201, 196, 169);
}
.swiper-button-next::after {
  content: ">";
  font-size: 3px;
  color: rgb(201, 196, 169);
  margin-right: 10px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  content: "<";
  font-size: 5px;
  color: rgb(201, 196, 169);
}
/*  -------------------------
    End Swiper
    ----------------------- */
/*  -------------------------
    Start About Info Section
    ----------------------- */
.about .container {
  padding-top: 50px;
  padding-bottom: 50px;
}
.about .about-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 767px) {
  .about .about-content {
    flex-direction: column;
  }
}
.about .about-content .about-text {
  font-size: 18px;
  width: 50%;
}
@media (max-width: 767px) {
  .about .about-content .about-text {
    font-size: 13px;
    width: 100%;
  }
}
.about .about-content .about-images {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
@media (max-width: 767px) {
  .about .about-content .about-images {
    width: 100%;
  }
}
.about .about-content .img {
  height: 130px;
  width: 270px;
}
@media (max-width: 767px) {
  .about .about-content .img {
    width: 100%;
    height: 200px;
  }
}
.about .about-content .img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
/*  ----------------------
    End About Info Section
    -----------------------*/
/*  --------------------
Start Statistics Section
------------------------ */
.stats {
  padding-top: 50px;
  padding-bottom: 50px;
}
.stats .box {
  padding-block: 25px !important;
}
.stats .box svg {
  font-size: 25px;
  color: rgb(201, 196, 169);
}
.stats .box p {
  font-size: 60px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
/*  -------------------
End Statistics Section
----------------------- */
/* --------------------
  Start FAQ
  ------------------ */
.faq {
  padding-top: 50px;
  padding-bottom: 50px;
}
.faq .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.faq .row {
  width: 100%;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 10px 8px 0px rgba(142, 142, 142, 0.138);
}
.faq .row div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq .row div h3 {
  font-size: 18px;
  color: rgb(211, 203, 173);
}
@media (max-width: 767px) {
  .faq .row div h3 {
    font-size: 13px;
  }
}
.faq .row div span {
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
}
.faq .row p {
  font-size: 13px;
  width: 100%;
  margin-top: 8px;
  padding: 5px;
  background-color: rgb(244, 244, 244);
  border-radius: 5px;
}
@media (max-width: 767px) {
  .faq .row p {
    font-size: 10px;
  }
}
/* --------------------
  Start FAQ
  ------------------ */
/* --------------------
  Start Contact
  ------------------ */
form {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
form .input-row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
@media (max-width: 767px) {
  form{
    display: block;
  }
  form .input-row {
    flex-direction: column;
  }
}
form label {
  margin-top: 10px;
  display: block;
}
form .input-row div {
  width: 100%;
}
form .input-controler {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}
form textarea {
  width: 100%;
  height: 250px;
  padding: 10px;
  resize: none;
  border: none;
  border-radius: 5px;
  outline: none;
}
form .form-btn {
  background-color: white;
  margin-top: 5px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  display: block;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}
form .form-btn:hover {
  background-color: rgb(211, 203, 173);
  color: white;
}
/* --------------------
  End Contact
  ------------------ */
