.main-header{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-header p{
    color: rgb(201, 196, 169);
    font-size: 15px;
}
.main-header h2{
    font-size: 35px;
    position: relative;
    width: fit-content;
}
.main-header h2::after{
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(201, 196, 169);
}
